<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Home page of the NSUT Incubation and Innovation Foundation website"
    />
    <!-- Facebook -->
    <meta property="og:image" content="metadata/nsutiif_logo.jpeg" />
    <meta
      property="og:description"
      content="Home page of the NSUT Incubation and Innovation Foundation website"
    />
    <meta property="og:title" content="NSUT IIF" />
    <!-- Twitter -->
    <meta name="twitter:title" content="NSUT IIF" />
    <meta
      name="twitter:description"
      content="Home page of the NSUT Incubation and Innovation Foundation website"
    />
    <meta name="twitter:image" content="metadata/nsutiif_logo.jpeg" />

    <!-- Title -->
    <title><%= page.title %></title>

    <!-- Favicons favicon.io -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="metadata/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="metadata/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="metadata/apple-touch-icon.png"
    />
    <link rel="icon" href="metadata/favicon.ico" type="image/x-icon" />
    <!-- <link rel="manifest" href="metadata/site.webmanifest" /> -->
    <!-- Bootstrap CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/index.css" />
    <% if (typeof page.styles !== 'undefined') { %> <% if (page.styles.length >
    0) { %> <% for (let style of page.styles) { %>
    <link rel="stylesheet" href="/css/<%= style  %>" />
    <% } %> <% } %> <% } %>
    <!-- Google Fonts -->

    <!-- Preload the image -->
    <% if (typeof page.preload !== 'undefined') { %> <% if (page.preload.length > 0) { %> <% for (let preload of page.preload) { %>
    <link rel="preload" href="<%= preload %>" as="image" />
    <% } %> <% } %> <% } %>
    
     
  </head>
  <body>
    <%- include("./../includes/header.ejs") %>
    <main class=""><%- body %></main>

    <%- include("./../includes/footer.ejs") %>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/c93a75576a.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Custom JS -->

    <!--Important Note: Custom js Must be always after importing all the libraries -->
    <% if (typeof page.scripts !== 'undefined') { %> <% if (page.scripts.length
    > 0) { %> <% for (let script of page.scripts) { %>

      <% if (script.includes("http")) { %>
      <script src="<%= script %>"></script>
      <% } else { %>
          
    <script src="/js/<%= script %>"></script>
    <% } %> <% } %> <% } %> <% } %>
  </body>
</html>
