<% layout('./layouts/indexLayout.ejs') -%>

<div class="container my-4">
  <h1>
    Apply for Incubation
  </h1>
  <div class="accordion" id="ApplicationBox">
    <% if(page.data && page.data.length!==0){ %> 
    <% for(const item of page.data){ %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="<%= "heading"+item._id %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= "control"+item._id %>" aria-expanded="false" aria-controls="<%= "heading"+item._id %>">
            <%= item.name  %>
          </button>
        </h2>
        <div id="<%= "control"+item._id %>" class="accordion-collapse collapse <% if (page?.openForm && page?.openForm==item._id) { %> <%= "show" %> <% } %> " aria-labelledby="<%= "heading"+item._id %>" data-bs-parent="#ApplicationBox">
          <div class="accordion-body">
            <%- item.description %>
            <ul>
              <li class="">
                <p class="my-0">
                  <strong>
                    Application Opens: 
                  </strong>
                  <%= new Date( item.start).toLocaleDateString('sv') %>
                </p>
               
              </li>
              <li class="">
                <p class="my-0">
                  <strong>
                    Application Closes: 
                  </strong>
                  <%= new Date( item.deadline).toLocaleDateString('sv') %>
                </p>
              </li>
            </ul>
            <a href="<%= item.link %>" class="btn btn-primary">Apply</a>
          </div>
        </div>
      </div>
    <% } %>
    <% } else { %>
      <div class="text-center m-4">
        <div class="d-flex justify-content-center align-items-center">
          <h1 class="not-found-color">!</h1>
        </div>
        <h1>No Applications Found</h1>
        <a
          class="btn btn-primary my-2 text-light"
          href="/"
          role="button"
          >Click here go to Home</a
        >
      </div>
      <% } %>
  </div>

</div>